<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

  <!-- 使用atomikos JTA 事務來進行分佈式數據庫事務的管理 -->
  <tx:annotation-driven />
  <context:component-scan base-package="com.qiongsong" />

  <!-- <context:annotation-config -->
  <!-- transaction-manager="transactionManager" /> -->

  <tx:jta-transaction-manager />


  <!-- <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"> -->
  <!-- <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"
    /> -->
  <!-- <property name="url" -->
  <!-- value="jdbc:oracle:thin:@10.16.67.195:1601/lmssit3" /> -->
  <!-- <property name="username" value="OMS2C" /> -->
  <!-- <property name="password" value="Oms2c#sit3" /> -->
  <!-- <property name="defaultAutoCommit" value="false" /> -->
  <!-- </bean> -->

  <!-- <bean id="dataSource_1" class="org.apache.tomcat.jdbc.pool.DataSource"> -->
  <!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
  <!-- <property name="url" value="jdbc:mysql://127.0.0.1:3306/pango" /> -->
  <!-- <property name="username" value="root" /> -->
  <!-- <property name="password" value="123456" /> -->
  <!-- <property name="defaultAutoCommit" value="false" /> -->
  <!-- </bean> -->

  <!-- <bean id="dataSource_2" class="org.apache.tomcat.jdbc.pool.DataSource"> -->
  <!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
  <!-- <property name="url" value="jdbc:mysql://127.0.0.1:3306/pango2" /> -->
  <!-- <property name="username" value="root" /> -->
  <!-- <property name="password" value="123456" /> -->
  <!-- <property name="defaultAutoCommit" value="false" /> -->
  <!-- </bean> -->

  <bean id="dataSourceA" class="com.atomikos.jdbc.AtomikosDataSourceBean"
    init-method="init" destroy-method="close">
    <property name="uniqueResourceName">
      <value>DataSourceA</value>
    </property>
    <property name="xaDataSourceClassName">
      <value>com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</value>
    </property>
    <property name="xaProperties">
      <props>
        <prop key="databaseName">pango</prop>
        <prop key="serverName">localhost</prop>
        <prop key="port">3306</prop>
        <prop key="user">root</prop>
        <prop key="password">123456</prop>
        <prop key="url">jdbc:mysql://127.0.0.1:3306/pango</prop>
      </props>
    </property>
    <property name="minPoolSize">
      <value>1</value>
    </property>
  </bean>

  <bean id="dataSourceB" class="com.atomikos.jdbc.AtomikosDataSourceBean"
    init-method="init" destroy-method="close">
    <property name="uniqueResourceName">
      <value>DataSourceB</value>
    </property>
    <property name="xaDataSourceClassName">
      <value>com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</value>
    </property>
    <property name="xaProperties">
      <props>
        <prop key="databaseName">pango2</prop>
        <prop key="serverName">localhost</prop>
        <prop key="port">3306</prop>
        <prop key="user">root</prop>
        <prop key="password">123456</prop>
        <prop key="url">jdbc:mysql://127.0.0.1:3306/pango2</prop>
      </props>
    </property>
    <property name="minPoolSize">
      <value>1</value>
    </property>
  </bean>




  <!-- <bean id="simpleDataSourceFactory" -->
  <!-- class="com.qiongsong.ficus.dal.jdbc.datasource.support.SimpleDataSourceFactory"> -->
  <!-- <property name="dataSource" ref="dataSource" /> -->
  <!-- </bean> -->

  <bean id="randomDataSourceFactory"
    class="com.qiongsong.ficus.dal.jdbc.datasource.support.RandomDataSourceFactory">
    <constructor-arg>
      <list>
        <ref bean="dataSourceA" />
        <ref bean="dataSourceB" />
      </list>
    </constructor-arg>
  </bean>

  <bean id="dataAccessFactory"
    class="com.qiongsong.ficus.dal.jdbc.access.DataAccessFactoryAdapter">
    <constructor-arg ref="randomDataSourceFactory" />
  </bean>


  <!-- <bean id="transactionManager" -->
  <!-- class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
  <!-- <property name="dataSource" ref="dataSource" /> -->
  <!-- </bean> -->


  <bean id="atomikosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager"
    init-method="init" destroy-method="close">
    <property name="forceShutdown" value="false" />
  </bean>

  <bean id="atomikosUserTransaction" class="com.atomikos.icatch.jta.J2eeUserTransaction">
    <property name="transactionTimeout" value="300" />
  </bean>

  <bean id="transactionManager"
    class="org.springframework.transaction.jta.JtaTransactionManager"
    depends-on="atomikosTransactionManager,atomikosUserTransaction">
    <property name="transactionManager" ref="atomikosTransactionManager" />
    <property name="userTransaction" ref="atomikosUserTransaction" />
    <property name="allowCustomIsolationLevels" value="true" />
  </bean>


  <bean id="nameHandler"
    class="com.qiongsong.ficus.dal.support.handler.DefaultNameHandler" />
  <!-- <bean id="dialect" class="com.qiongsong.ficus.dal.dialect.OracleDialect"
    /> -->
  <bean id="dialect" class="com.qiongsong.ficus.dal.dialect.MySQLDialect" />
  <bean id="jdbcDao" class="com.qiongsong.ficus.dal.jdbc.JdbcDaoImpl">
    <!-- <property name="jdbcTemplate" ref="jdbcTemplate" /> -->
    <property name="dataAccessFactory" ref="dataAccessFactory" />
    <property name="dialect" ref="dialect" />
    <property name="nameHandler" ref="nameHandler" />
    <property name="sqlFactory" ref="sqlFactory" />
  </bean>

  <bean id="sqlFactory" class="com.qiongsong.ficus.dal.jdbc.IbatisSqlFactoryBean">
    <property name="sqlLocations">
      <list>
        <value>order-sql.xml</value>
        <value>user-sql.xml</value>
      </list>
    </property>
  </bean>

</beans>
